/* hide default cursor for all elements */
html, body, *, button, a {
    cursor: none;
}

/* custom cursor styles */
.cursor {
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(20, 91, 138); /* cursor color */
    position: absolute;
    border-radius: 15px; /* make circular shape */
    z-index: 10000; /* ensures nav bar is above other contents */
    pointer-events: none; /* allow pointer events to pass through cursor */
    transform: translate(-50%, -50%); /* center the cursor in position */
}
  
/* follower part of the custom cursor */
.cursor__follower {
    transition: transform .4s; /* smooth transition movement */
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 9999; /* ensure it appears on top but below main cursor*/
    pointer-events: none;
}

/* body elements */
body {
    background: #da9999;
    color: #ffffff;
    font-family: 'Holipop';
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* define custom font "Holipop" */
@font-face {
    font-family: 'Holipop';
    src: url('../fonts/Holipop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* reset default elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* include padding and border in element's total dimensions */
    font-family: 'Holipop';
}

/* page label */
.page a {
    color: rgb(20, 91, 138);
}

/* hide background color on hover unlike nav links */
.page a:hover {
    background-color: rgb(218, 153, 153, 0.0);
}

/* gallery */
.gallery {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid; /* grid layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* grid layout with flexible columns */
    gap: 15px; /* gap between grid items */
    max-width: 1200px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* gallery item container */
.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden; /* hide overflow content */
    border-radius: 10px;
    opacity: 0; /* initial opacity */
    transform: translateY(20px); /* initial downward position */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* smooth transtion for opacity and transform */
}

/* images inside container */
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cover entire area */
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

/* visibility */
.gallery-item.visible {
    opacity: 1; /* fade in */
    transform: translateY(0); /* move to original position */
}

/* captions inside gallery items */
.gallery-item .caption {
    position: absolute; /* position absolutely within gallery item */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(20, 91, 138);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0; /* initially hidden */
    transition: opacity 0.3s ease;
}

/* hover effect for captions */
.gallery-item:hover .caption {
    opacity: 1; /* show caption on hover */
}

/* hover effect for images */
.gallery-item:hover img {
    transform: scale(1.1); /* zoom in image */
    object-fit: contain; /* contain the image within its bounds */
    border-radius: 10px; /* round corners */
}



/* navigation bar styles */
nav {
    position: fixed; /* fix navigation part on top */
    top: 0;
    left: 0;
    width: 100%; /* make it span full width */
    z-index: 1000;
    padding: 10px 0;
    display: flex; /* use flexbox for layout */
    justify-content: space-between; /* space out the items */
    align-items: center;
}

/* container for navigation items */
.nav-container {
    width: 100%; /* make container full width */
    display: flex;
    justify-content: space-between;
    align-items: center; /* align items in center */
}

/* navigation list */
nav ul {
    list-style-type: none; /* remove default list styling */
    display: flex;
    padding: 0;
    margin: 0;
}

/* navigation list items */
nav ul li {
    margin: 0 10px;
}

/* navigation links */
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none; /* remove underline */
    font-size: 1.5vw; /* set font size */
}

/* hover effect for navigation links */
nav ul li a:hover {
    color: rgb(20, 91, 138);
}

/* hamburger menu icon*/
.menu-icon {
    display: none; /* hide by default */
    font-size: 24px;
    cursor: none; /* hide cursor */
}

/* responsive styles for smaller screens */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column; /* satck items vertically */
    }

    .nav-left,
    .nav-right {
        display: none; /* hide section by default */
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5); /* set background color with low opacity */
    }

    .nav-left.active,
    .nav-right.active {
        display: flex; /* show sections when active */
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block; /* show menu icon */
        color: white;
        margin-left: 10px;
    }
}