html, body, *, button, a {
    cursor: none;
}

.cursor {
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(20, 91, 138);
    position: absolute;
    border-radius: 15px;
    z-index: 10000; 
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  
  .cursor__follower {
    transition: transform .4s;
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
  }

@font-face {
    font-family: 'Voyage';
    src: url('../fonts/Voyage-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voyage', serif;
}

body {
    background: #da9999; /* Updated background color to pink */
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    background-color: rgb(20, 91, 138, 0.5);
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-left,
    .nav-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5);
    }

    .nav-left.active,
    .nav-right.active {
        display: flex;
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
        color: white;
        margin-left: 10px;
    }
}
