/* hide default cursor for all elements */
html, body, *, button, a, menu, menu * {
    cursor: none;
}

/* define custom font "Holipop" */
@font-face {
    font-family: 'Holipop';
    src: url('../fonts/Holipop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* reset default elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Holipop';
    color: #ffffff;
    text-decoration: none;
}

/* body elements */
body {
    height: 100vh; /* full viewport height */
    background: #da9999;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    margin: 50px;
}

/* intro section image */
.intro img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 40%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* intro section heading */
.intro h1 {
    font-family: 'Holipop';
    font-weight: 500;
    text-align: center;
    font-size: 450%; /* adjust size larger than normal */
}

/* h3 heading/s */
h3 {
    font-family: 'Holipop';
    color: rgba(14, 66, 101);
    text-align: center;
}

/* paragraph text */
p {
    text-align: center;
}

/* small text in paragraph */
p small {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: rgb(20, 91, 138);
}

/* h4 heading/s */
h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    text-align: center;
}

/* button container */
.buttons {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* remove default text decoration */
}

/* buttons */
button {
    background-color: rgb(20, 91, 138);
    color: #ffffff;
    border: none; /* remove border */
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

/* hover effect for buttons */
button:hover {
    background-color: rgba(14, 66, 101); /* change color */
    animation: zoom 0.3s forwards; /* zoom effect */
}

/* keyframes for zoom animation */
@keyframes zoom {
    0% {
        transform: scale(1); /* initial scale*/
    }
    100% {
        transform: scale(1.1); /* final scale */
    }
}

/* about section */
.about {
    text-align: left;
    margin: 50px;
}

/* justify paragraph text in about section */
.about p {
    text-align: justify;
}

/* navigation bar styles */
nav {
    position: fixed; /* fix navigation part on top */
    top: 0;
    left: 0;
    width: 100%; /* make it span full width */
    z-index: 1000;
    padding: 10px 0;
    display: flex; /* use flexbox for layout */
    justify-content: space-between; /* space out the items */
    align-items: center;
}

/* container for navigation items */
.nav-container {
    width: 100%; /* make container full width */
    display: flex;
    justify-content: space-between;
    align-items: center; /* align items in center */
}

/* navigation list */
nav ul {
    list-style-type: none; /* remove default list styling */
    display: flex;
    padding: 0;
    margin: 0;
}

/* navigation list items */
nav ul li {
    margin: 0 10px;
}

/* navigation links */
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none; /* remove underline */
    font-size: 1.5vw; /* set font size */
}

/* hover effect for navigation links */
nav ul li a:hover {
    color: rgb(20, 91, 138);
}

/* hamburger menu icon*/
.menu-icon {
    display: none; /* hide by default */
    font-size: 24px;
    cursor: none; /* hide cursor */
}

/* responsive styles for smaller screens */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column; /* satck items vertically */
    }

    .nav-left,
    .nav-right {
        display: none; /* hide section by default */
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5); /* set background color with low opacity */
    }

    .nav-left.active,
    .nav-right.active {
        display: flex; /* show sections when active */
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block; /* show menu icon */
        color: white;
        margin-left: 10px;
    }
}

/* custom cursor styles */
.cursor {
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(20, 91, 138); /* cursor color */
    position: absolute;
    border-radius: 15px; /* make circular shape */
    z-index: 10000; /* ensures nav bar is above other contents */
    pointer-events: none; /* allow pointer events to pass through cursor */
    transform: translate(-50%, -50%); /* center the cursor in position */
}

/* follower part of the custom cursor */
.cursor__follower {
    transition: transform .4s; /* smooth transition movement */
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 9999; /* ensure it appears on top but below main cursor*/
    pointer-events: none;
}