/* define custom font "Holipop" */
@font-face {
    font-family: 'Holipop';
    src: url('../fonts/Holipop.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* hide default cursor for all elements */
html, body, *, button, a, menu, menu * {
    cursor: none;
}

/* custom cursor styles */
.cursor {
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: rgb(20, 91, 138); /* cursor color */
    position: absolute;
    border-radius: 15px; /* make circular shape */
    z-index: 10000; /* ensures nav bar is above other contents */
    pointer-events: none; /* allow pointer events to pass through cursor */
    transform: translate(-50%, -50%); /* center the cursor in position */
}

/* follower part of the custom cursor */
.cursor__follower {
    transition: transform .4s; /* smooth transition movement */
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 9999; /* ensure it appears on top but below main cursor*/
    pointer-events: none;
}

/* reset default elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Holipop';
}

/* body elements */
body {
    height: 100vh;
    overflow: hidden;
    background: #da9999;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* navigation bar styles */
nav {
    position: fixed; /* fix navigation part on top */
    top: 0;
    left: 0;
    width: 100%; /* make it span full width */
    z-index: 1000;
    padding: 10px 0;
    display: flex; /* use flexbox for layout */
    justify-content: space-between; /* space out the items */
    align-items: center;
}

/* container for navigation items */
.nav-container {
    width: 100%; /* make container full width */
    display: flex;
    justify-content: space-between;
    align-items: center; /* align items in center */
}

/* navigation list */
nav ul {
    list-style-type: none; /* remove default list styling */
    display: flex;
    padding: 0;
    margin: 0;
}

/* navigation list items */
nav ul li {
    margin: 0 10px;
}

/* navigation links */
nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none; /* remove underline */
    font-size: 1.5vw; /* set font size */
}

/* hover effect for navigation links */
nav ul li a:hover {
    color: rgb(20, 91, 138);
}

/* hamburger menu icon*/
.menu-icon {
    display: none; /* hide by default */
    font-size: 24px;
    cursor: none; /* hide cursor */
}

/* responsive styles for smaller screens */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column; /* satck items vertically */
    }

    .nav-left,
    .nav-right {
        display: none; /* hide section by default */
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5); /* set background color with low opacity */
    }

    .nav-left.active,
    .nav-right.active {
        display: flex; /* show sections when active */
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block; /* show menu icon */
        color: white;
        margin-left: 10px;
    }
}

/* menu/options under works page */
.menu {
    height: 100vh;
    overflow: hidden;
    background: #da9999;
    cursor: -webkit-grab; /* grab cursor for WebKit browsers */
    cursor: grab; /* grab cursor */
}

/* menu dragging state */
.menu.is-dragging {
    cursor: -webkit-grabbing; /* grabbing cursor for WebKit browsers */
    cursor: grabbing; /* grabbing cursor */
}

/* menu list */
.menu ul {
    counter-reset: count; /* reset counter */
    list-style: none; /* remove default list styling */
}

/* menu items */
.menu--item {
    counter-increment: count; /* increment counter */
    position: absolute;
    z-index: 1; /* layer on top */
    top: 0;
    left: 0;
    width: 100%;
    font-size: 50px;
    line-height: 1.2; /* line height */
    padding: 2rem 0; /* vertical padding */
    text-align: center;
}

/* display counter for menu items */
.menu--item:nth-child(n+10):before {
    content: counter(count);
}

/* menu items link */
.menu--item a {
    color: #fff;
    text-decoration: none; /* remove underline */
    position: relative;
    font-size: 120px;
    font-family: 'Holipop';
    cursor: none;
}

/* number menu item links */
.menu--item a:before {
    position: absolute;
    /*z-index: -1;*/
    /*top: -24px;*/
    /*left: 0;*/
    transform: translateX(-100%) scale(0.2); /* transform for counter */
    content: "0" counter(count); /* display counter with prefix */
    color: rgb(20, 91, 138);
}

/* hover effect for menu item links */
.menu--item a:hover {
    color: rgb(20, 91, 138); /* change color */
}