@font-face {
    font-family: 'Voyage';
    src: url('../fonts/Voyage-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voyage', serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #da9999;
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    background-color: rgb(20, 91, 138);
    border-radius: 5px;
}

.menu {
    height: 100vh;
    overflow: hidden;
    background: #da9999;
    cursor: -webkit-grab;
    cursor: grab;
}

.menu.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.menu ul {
    counter-reset: count;
    list-style: none;
}

.menu--item {
    counter-increment: count;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 50px;
    line-height: 1.2;
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 767px) {
    .menu--item {
        font-size: 10vw;
        padding: 1rem 0;
    }
}

.menu--item:nth-child(n+10):before {
    content: counter(count);
}

.menu--item a {
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 120px;
    -webkit-appearance: none;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    color: #ffffff;
    font-family: "Voyage", serif;
    cursor: pointer;
}

@media (max-width: 767px) {
    .menu--item a {
        font-size: 10vw;
    }
}

.menu--item a:before {
    position: absolute;
    z-index: -1;
    top: -24px;
    left: 0;
    display: inline-block;
    transform: translateX(-100%) scale(0.2);
    content: "0" counter(count);
    color: rgb(20, 91, 138);
}

.menu--item a:hover {
    color:rgb(20, 91, 138);
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-left,
    .nav-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5);
    }

    .nav-left.active,
    .nav-right.active {
        display: flex;
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
        color: white;
        margin-left: 10px;
    }
}

    body {
    background: #da9999;
    color: #ffffff;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@font-face {
    font-family: 'Voyage';
    src: url('../fonts/Voyage-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Voyage', serif;
}

.gallery {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 15px;
    max-width: 1200px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.gallery-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 5px;
}

.gallery-item.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(218, 153, 153); /* Semi-transparent background */
    color: white;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.gallery-item:hover .caption {
    opacity: 1; /* Show caption on hover */
}

.gallery-item:hover img {
    transform: scale(1.1); 
    object-fit: contain;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5vw;
}

nav ul li a:hover {
    background-color: rgb(20, 91, 138, 0.5);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-left,
    .nav-right {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(20, 91, 138, 0.5);
    }

    .nav-left.active,
    .nav-right.active {
        display: flex;
    }

    .nav-left li,
    .nav-right li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
        color: white;
        margin-left: 10px;
    }
}
