body {
    margin: 50px;
    background-color: #464646;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 100;    
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.intro img {
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 40%;
    height: auto;
    max-width: 100%;
    display: block;
}

.intro h1 {
    font-family: "Walter Turncoat", cursive;
    font-weight: 500;    
    text-align: center;
    font-size: 250%;
}

h3 {
    font-family: "Walter Turncoat", cursive;
}

* {color: #ffffff; text-decoration: none;}

nav { /*style navigation section*/
    position: fixed; /*makes the navigation bar fixed; non scrollable*/
    top: 0; /*aligns to top*/
    left: 0; /*aligns to left*/
    width: 100%; /*cover entire width*/
    z-index: 1000; /*ensures nav bar is above other contents*/
    padding: 10px 0; /*adds padding*/
    background-color: rgba(0,0,0,.5);
}

nav ul {
    list-style-type: none;
    margin: 0; /*removes default margin*/
    padding: 0; /*removes default padding*/
    background-color: rgba(0,0,0,.5);
  }
  
nav ul li {
    float: left; /*float list items to left*/
    position: relative; /* ensures the dropdown is positioned correctly */
  }
  
nav ul li a {
    display: block; /*displays links as block elements*/
    color: white; 
    text-align: left; /*aligns text to the left*/
    padding: 10px 40px;
    text-decoration: none; /*removes underline*/
  }

  nav ul li a:hover {
    background-color: #da9999;
    border-radius: 5px;
}

/* Mobile Styles */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}


h3, h4, p {
    text-align: center;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.buttons {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

button {
    background-color: #da9999;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

button:hover {
    background-color: #333;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

button:hover {
    animation: zoom 0.3s forwards;
}